<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BriefCamMrsSensor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <BriefCamMrsSensor.Properties.Settings>
      <setting name="MaxLogItems" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SensorIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="SensorPort" serializeAs="String">
        <value>13001</value>
      </setting>
      <setting name="BriefCamAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ValidateMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertsLocationCap" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SimLocationLat" serializeAs="String">
        <value>34.5</value>
      </setting>
      <setting name="SimLocationLon" serializeAs="String">
        <value>32.5</value>
      </setting>
      <setting name="SimRate" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="SimOverride" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BriefCamPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CameraSensorPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SimpleServer" serializeAs="String">
        <value>False</value>
      </setting>
    </BriefCamMrsSensor.Properties.Settings>
  </userSettings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>